<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1044274971693-kjfr25ics25hjs6ea1nb5trk1p0t6oq9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1044274971693-kjfr25ics25hjs6ea1nb5trk1p0t6oq9</string>
	<key>API_KEY</key>
	<string>AIzaSyB3pGYZ_dfpQ0tr2Ig4T-LJ5SuIC16r3-0</string>
	<key>GCM_SENDER_ID</key>
	<string>1044274971693</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>kr.xoul.Instagram</string>
	<key>PROJECT_ID</key>
	<string>instagram-d15c7</string>
	<key>STORAGE_BUCKET</key>
	<string>instagram-d15c7.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1044274971693:ios:91b3b0e0fd645238c7a4a4</string>
</dict>
</plist>